<!-- Dashboard content -->
<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <br>
                    </div>

                    <div class="row">


                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #f7941d !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title text-md-center text-xl-left">TOTAL CUSTOMERS</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TotalCustomer}}</h3>
                                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-danger" style="color:white!important">
                                        0.22% <span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #015b7e !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title text-md-center text-xl-left">TODAY'S ORDER</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TodayOrders}}</h3>
                                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-success" style="color:white!important">
                                        10.00%<span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>



                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #2196f3;box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class=" card-title text-md-center text-xl-left">TOTAL ORDERS</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TotalOrders}}</h3>
                                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-warning" style="color:white!important">
                                        2.00% <span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #3f51b5!important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title text-md-center text-xl-left">TOTAL DISPATCHED</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TotalDispatched}}</h3>
                                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-success" style="color:white!important">
                                        22.00%<span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #01a207 !important;box-shadow: 0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title text-md-center text-xl-left">TOTAL DELIVERED</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TotalDelivered}}</h3>
                                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-success" style="color:white!important">
                                        22.00%<span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #fd545b !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title text-md-center text-xl-left">TOTAL RETURNED</p>
                                    <div
                                        class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">
                                            {{TotalReturned}}</h3>
                                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                    </div>
                                    <!-- <p class="mb-0 mt-2 text-left text-md-center text-xl-left text-success" style="color:white!important">
                                        22.00%<span style="color:white!important" class="text-black ml-1"><small>(30
                                                days)</small></span>
                                    </p> -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card bg-primary border-0 position-relative">
                                <div class="card-body">
                                    <p class="card-title text-white">Performance Overview</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title mb-0">Top Products</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Search Engine Marketing</td>
                                                    <td class="font-weight-bold">$362</td>
                                                    <td>21 Sep 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                                <tr>
                                                    <td>Search Engine Optimization</td>
                                                    <td class="font-weight-bold">$116</td>
                                                    <td>13 Jun 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                                <tr>
                                                    <td>Display Advertising</td>
                                                    <td class="font-weight-bold">$551</td>
                                                    <td>28 Sep 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>Pay Per Click Advertising</td>
                                                    <td class="font-weight-bold">$523</td>
                                                    <td>30 Jun 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>E-Mail Marketing</td>
                                                    <td class="font-weight-bold">$781</td>
                                                    <td>01 Nov 2018</td>
                                                    <td class="font-weight-medium text-danger">Cancelled</td>
                                                </tr>
                                                <tr>
                                                    <td>Referral Marketing</td>
                                                    <td class="font-weight-bold">$283</td>
                                                    <td>20 Mar 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>Social media marketing</td>
                                                    <td class="font-weight-bold">$897</td>
                                                    <td>26 Oct 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">To Do Lists</p>
                                    <!-- <app-todo></app-todo> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /dashboard content -->