<!-- Dashboard content -->
<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <br>
                    </div>

                    <div class="row">


                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('3','user')">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #f7941d !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TOTAL CUSTOMERS</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TotalCustomer}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('4','order/0')">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #015b7e !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TODAY'S ORDER</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TodayOrders}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('4','order')">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #2196f3;box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TOTAL ORDERS</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TotalOrders}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('4','order/3')">
                            <div class="card">
                                <div class="card-body"
                                    style=" background-color: #3f51b5!important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TOTAL DISPATCHED</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TotalDispatched}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('4','order/4')">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #01a207 !important;box-shadow: 0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TOTAL DELIVERED</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TotalDelivered}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 grid-margin stretch-card" style="cursor: pointer;"
                            (click)="GoTo('4','order/6')">
                            <div class="card">
                                <div class="card-body"
                                    style="background-color: #fd545b !important; box-shadow:0 3px 7px -1px #999 !important;color: white">
                                    <p class="card-title;" style="text-align: center;">TOTAL RETURNED</p>
                                    <div style="text-align: center;">
                                        <h3>
                                            {{TotalReturned}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="display: none;">
                        <div class="col-md-12 grid-margin">
                            <div class="card bg-primary border-0 position-relative">
                                <div class="card-body">
                                    <p class="card-title text-white">Performance Overview</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="display: none;">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title mb-0">Top Products</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Search Engine Marketing</td>
                                                    <td class="font-weight-bold">$362</td>
                                                    <td>21 Sep 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                                <tr>
                                                    <td>Search Engine Optimization</td>
                                                    <td class="font-weight-bold">$116</td>
                                                    <td>13 Jun 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                                <tr>
                                                    <td>Display Advertising</td>
                                                    <td class="font-weight-bold">$551</td>
                                                    <td>28 Sep 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>Pay Per Click Advertising</td>
                                                    <td class="font-weight-bold">$523</td>
                                                    <td>30 Jun 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>E-Mail Marketing</td>
                                                    <td class="font-weight-bold">$781</td>
                                                    <td>01 Nov 2018</td>
                                                    <td class="font-weight-medium text-danger">Cancelled</td>
                                                </tr>
                                                <tr>
                                                    <td>Referral Marketing</td>
                                                    <td class="font-weight-bold">$283</td>
                                                    <td>20 Mar 2018</td>
                                                    <td class="font-weight-medium text-warning">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>Social media marketing</td>
                                                    <td class="font-weight-bold">$897</td>
                                                    <td>26 Oct 2018</td>
                                                    <td class="font-weight-medium text-success">Completed</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">To Do Lists</p>
                                    <!-- <app-todo></app-todo> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /dashboard content -->