.content__heading
{
    color: #091e3f;
    font-family: Publico;
    font-size: 1.51571657rem;
    line-height: 2rem;
    font-weight: bold;
}

.entry__label {
    display: table;
    font-weight: 700;
    padding: 0;
    white-space: normal;
}