<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">

                <div class="card-body">
                    <!-- <div class="row">
                        <div class="col-md-12 text-right pb-3">
                            <button mat-raised-button (click)="onAddNew(templateAgent,'');" class="btn btn-warning btn-lg">Add New
                                </button>
                        </div>
                    </div> -->
                    <div class="new-section">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12 col-sm-12 pl-4 pr-4 pt-1">
                                <mat-form-field class="example-chip-list example-full-width">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search" (keyup)="applyFilter($event)" class="btn-search" style=" padding-bottom: 15px;">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-md-12">

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef>Email Address</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="mobileNo">
                                    <th mat-header-cell *matHeaderCellDef>MobileNo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="statusId">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.statusId==1?'Pending':element.statusId==2?'Approved':element.statusId==3?'In-Active':element.statusId==4?'Hold':''}}
                                    </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="createdUserName">
                                    <th mat-header-cell *matHeaderCellDef>CreatedBy</th>
                                    <td mat-cell *matCellDef="let element"> {{element.createdUserName}} </td>
                                </ng-container> -->

                                <ng-container matColumnDef="createdDate">
                                    <th mat-header-cell *matHeaderCellDef>Created Date</th>
                                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="modifiedUserName">
                                    <th mat-header-cell *matHeaderCellDef>ModifiedBy</th>
                                    <td mat-cell *matCellDef="let element"> {{element.modifiedUserName}} </td>
                                </ng-container> -->
                                <ng-container matColumnDef="modifiedDate">
                                    <th mat-header-cell *matHeaderCellDef>Modified Date</th>
                                    <td mat-cell *matCellDef="let element"> {{element.modifiedDate | date : 'dd/MM/yyyy'}} </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="Edit">
                                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a href="javaScript:void(0);" (click)="Edit(templateAgent,element)">
                                            <i class="icon-pencil mr-2" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </ng-container> -->
                                <ng-container matColumnDef="AssignCustomer">
                                    <th mat-header-cell *matHeaderCellDef> Assign Customer </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a href="javaScript:void(0);" (click)="AssignCustomer(templateAssignCustomer,element)">
                                            <i class="icon-user mr-2" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div *ngIf="dataSource?.filteredData?.length === 0">No records found</div>
                            <mat-paginator [pageSize]="100" [pageSizeOptions]="[10,20,30,50,100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateAgent>
    <div class="col-md-12 add-info-head modal-text-heading">
        <h2 mat-dialog-title>Add/Edit Agent</h2>

        <div class="header-elements">
            <div class="list-icons" style="color: red;">
                Note: All the * marked fields are mandatory
            </div>
        </div>
    </div>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="AgentForm" class="w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name <span class="error">*</span></mat-label>
                            <input type="text" matInput formControlName="fname" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name </mat-label>
                            <input type="text" matInput formControlName="lName" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address <span class="error">*</span></mat-label>
                            <input type="text" matInput formControlName="email" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>MobileNo <span class="error">*</span></mat-label>
                            <input type="text" matInput formControlName="mobile" maxlength="10" [mask]="PhoneMask" [dropSpecialCharacters]="false" [showMaskTyped]="showMask" (focus)="addMask($event);">
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-4 mt-2">
                        <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                    </div> -->
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="col-md-12 add-info-foot">
            <button mat-raised-button class="btn btn-success btn-lg" (click)="Save()">
            Save
        </button>
            <button mat-button mat-dialog-close class="btn btn-secondary btn-lg">Cancel</button>
        </div>
    </mat-dialog-actions>
</ng-template>

<ng-template #templateAssignCustomer>
    <div class="col-md-12 add-info-head modal-text-heading">
        <h2 mat-dialog-title>Assign Customer</h2>

        <!-- <div class="header-elements">
            <div class="list-icons" style="color: red;">
                Note: All the * marked fields are mandatory
            </div>
        </div> -->
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSourceUser" class="mat-elevation-z8 col-md-12">
                <ng-container matColumnDef="isChecked">
                    <th mat-header-cell *matHeaderCellDef>Select</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [(ngModel)]="element.isChecked" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email Address</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef>MobileNo</th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                </ng-container>
                <ng-container matColumnDef="additionalDiscount">
                    <th mat-header-cell *matHeaderCellDef>Discount</th>
                    <td mat-cell *matCellDef="let element"> {{element.additionalDiscount}} </td>
                </ng-container>
                <ng-container matColumnDef="statusId">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.statusId==1?'Pending':element.statusId==2?'Approved':element.statusId==3?'In-Active':element.statusId==4?'Hold':''}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef>Reg. Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="isApproval">
                    <th mat-header-cell *matHeaderCellDef>IsApproval</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.isApproval==0?'Pending':(element.isApproval==1?'Approved':'Denied')}}
                    </td>
                </ng-container> -->
                <!-- <ng-container matColumnDef="approvedByUserName">
                    <th mat-header-cell *matHeaderCellDef>ApprovedBy</th>
                    <td mat-cell *matCellDef="let element"> {{element.approvedByUserName}} </td>
                </ng-container>
                <ng-container matColumnDef="approvedDate">
                    <th mat-header-cell *matHeaderCellDef>Approved Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.approvedDate | date : 'dd/MM/yyyy'}} </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumnsUser; sticky:true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
            </table>
            <div *ngIf="dataSourceUser?.filteredData?.length === 0">No records found</div>
            <!-- <mat-paginator [pageSizeOptions]="[10,20,30,50,100]" showFirstLastButtons></mat-paginator> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="col-md-12 add-info-foot">
            <button mat-raised-button class="btn btn-success btn-lg" (click)="SaveAssignCustomer()">
            Save
        </button>
            <button mat-button mat-dialog-close class="btn btn-secondary btn-lg">Cancel</button>
        </div>
    </mat-dialog-actions>
</ng-template>