<!-- Dashboard content -->

<div class="col-xl-12">

    <!-- Marketing campaigns -->
    <div class="card mt-2">
        <!--
            <div class="table-responsive">
                <table class="table text-nowrap">

                    <tbody>
                        <tr class="table-active table-border-double">
                            <td colspan="5">Today</td>
                            <td class="text-right">
                                <span class="progress-meter" id="today-progress" data-progress="30"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    
                                    <div>
                                        <a href="#" class="text-default font-weight-semibold">SignIn Time</a>
                                        <div class="text-muted font-size-sm">
                                            <span class="badge badge-mark border-blue mr-1"></span>
                                            02:00 - 03:00
                                        </div>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>


                        <tr class="table-active table-border-double">
                            <td colspan="5">Yesterday</td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    
                                    <div>
                                        <a href="#" class="text-default font-weight-semibold">SignIn Time
                                            </a>
                                        <div class="text-muted font-size-sm">
                                            <span class="badge badge-mark border-success mr-1"></span>
                                            15:00 - 16:00
                                        </div>
                                    </div>
                                </div>
                            </td>
                            
                            
                        </tr>

                    </tbody>
                </table>
            </div>
        -->
        <div class="col-md-12 sign-in">
            <h1 class="mt-3" style="font-size: 28px;">Sign in</h1>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>EmployeeNo</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>SignIn Time</th>
                        <th>SignOut Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>370934</td>
                        <td>Carl</td>
                        <td>Jackson</td>
                        <td>05/10/2020 00:00</td>
                        <td>05/10/2020 08:00</td>
                    </tr>
                    <tr>
                        <td>370934</td>
                        <td>Carl</td>
                        <td>Jackson</td>
                        <td>05/10/2020 00:00</td>
                        <td>05/10/2020 08:00</td>
                    </tr>
                    <tr>
                        <td>370934</td>
                        <td>Carl</td>
                        <td>Jackson</td>
                        <td>05/10/2020 00:00</td>
                        <td>05/10/2020 08:00</td>
                    </tr>
                    <tr>
                        <td>370934</td>
                        <td>Carl</td>
                        <td>Jackson</td>
                        <td>05/10/2020 00:00</td>
                        <td>05/10/2020 08:00</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /marketing campaigns -->


    <!-- Quick stats boxes -->
    <div class="row">


        <div class="col-lg-4">

            <!-- Current server load -->

            <!-- /current server load -->

        </div>


    </div>
    <!-- /quick stats boxes -->

</div>


<!-- /dashboard content -->